@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Miao&display=swap');

body
        {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            margin: 0px;
        



        }
    .tabuleiro
    {
        width: 600px;
        height: 600px;
        background-image: linear-gradient(0deg , tomato , blue);
        border-style: solid;
        border-width: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    .linha
    {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;   /* em linha  */           
        justify-content: space-around; /* separa grudando na parede (between) e separa desgrudando da parede (around) */

        
        
    }
    
    .celula
    {
        cursor: pointer;
        width: 150px;
        height: 150px;
        background-color: white;
        box-shadow: 2px 2px black;
        font-size: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        font-family: 'Noto Sans Miao', sans-serif;
    }

    .titulo
    {
        font-size: 60px;
        background-color: chocolate;
        border-radius: 10px;
        width: 350px;
        text-align: center;
        margin-bottom: 25px;
        cursor: pointer;
    }          
    /* hover pode ser usado pra qualquer class */
    .titulo:hover{                  
        background-color: white;
    }
